In [17]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [18]:
import warnings
import os
import pandas as pd 
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline
from matplotlib import pyplot

import seaborn as sns
import tensorflow 
print(tensorflow.__version__)

2.4.1

In [19]:
# suppress display of warnings
warnings.filterwarnings('ignore')

# display all dataframe columns
pd.options.display.max_columns = None

# to set the limit to 3 decimals
pd.options.display.float_format = '{:.7f}'.format

# display all dataframe rows
pd.options.display.max_rows = None

In [ ]:
blog = pd.read_csv('/content/drive/MyDrive/Dataset - blogtext.csv')

In [ ]:
blog.head(10)

,id,gender,age,topic,sign,date,text
0,2059027,male,15,Student,Leo,"14,May,2004","Info has been found (+/- 100 pages,..."
1,2059027,male,15,Student,Leo,"13,May,2004",These are the team members: Drewe...
2,2059027,male,15,Student,Leo,"12,May,2004",In het kader van kernfusie op aarde...
3,2059027,male,15,Student,Leo,"12,May,2004",testing!!! testing!!!
4,3581210,male,33,InvestmentBanking,Aquarius,"11,June,2004",Thanks to Yahoo!'s Toolbar I can ...
5,3581210,male,33,InvestmentBanking,Aquarius,"10,June,2004",I had an interesting conversation...
6,3581210,male,33,InvestmentBanking,Aquarius,"10,June,2004",Somehow Coca-Cola has a way of su...
7,3581210,male,33,InvestmentBanking,Aquarius,"10,June,2004","If anything, Korea is a country o..."
8,3581210,male,33,InvestmentBanking,Aquarius,"10,June,2004",Take a read of this news article ...
9,3581210,male,33,InvestmentBanking,Aquarius,"09,June,2004",I surf the English news sites a l...

In [ ]:
blog['age_group'] = blog['age'].apply(lambda x: '30s' if x>28 else ('10s' if x<20 else '20s'))

In [ ]:
blog.drop('age',axis=1, inplace= True)## dropping the age column

In [ ]:
blog_df= blog.sample(100000, random_state=2).reset_index(drop=True)

In [ ]:
## removing unnecessary columns which are blogger id, date:

blog_df.drop(['id','date'],axis=1,inplace=True)

In [ ]:
blog_df["target"] = blog_df.apply(lambda x : [x["gender"],x["age_group"],x["topic"],x["sign"]],axis =1)

In [ ]:
blog_df['len'] = blog_df['text'].apply(lambda x: len(x.split())) ## calculating the length of each row

In [ ]:
ind = blog_df[blog_df['len']==0].index

In [ ]:
blog_df.drop(index = ind, axis=0, inplace =True)

In [ ]:
blog_df.shape

(99534, 7)

##Text Preprocessing

In [ ]:
import re

In [ ]:
blog_df['text'] = blog_df['text'].apply(lambda x: str(x).lower()) ## converting to lower case

In [ ]:
blog_df['text'] = blog_df['text'].apply(lambda x: re.sub(r'https?:\/\/.\S+', " ",x)) ## removes the http: links

In [ ]:
print(blog_df['text'][2])

       i woke up very early on saturday morning, more early than i’d have hoped on a day off. i was planning on going to the beach, set up my chair and read some scripts for work and do some of my own work. i was going to a party late in the afternoon, so i wanted to get as much work in as possible so i could enjoy myself without feeling guilty. but since i had woken up at 5 in the morning, it was too dark and too chilly to head to the beach right away. and the fork in the road at the end of sunset canyon that leads onto the pch is tempting to someone like me, who adores the coastline here and is mystified by the landscape that spreads north of los angeles. if i had turned left then i would’ve been in santa monica and eventually in the marina. but if i turned right, then i’d be driving through malibu and beyond. i love what’s beyond malibu – every bit of it. so i turned right.   the pch is beautiful at five-thirty or six in the morning. the ocean smells the best at that time and there are basically no cars on the road. i recommend listening to jazz when you make the drive at that hour. once i drove the 27 miles that is malibu, i got off on hueneme road and drove through oxnard and ventura county. i decided i would head into santa barbara before coming back. i would have gone so far as big sur and possibly the monterey peninsula, but i don’t like to rush that trip. and there wasn’t enough time to do it anyway, since i had to be at a party and i was still a bit worried about not accomplishing any work. soon though, as i wove my way down the pch, i stopped stressing about losing those hours to work. i stopped in for a coffee someplace in ventura county, by the naval base, called the friends café. the coffee was a little weak but there was something nice about the place. the people that sat outside eating their omelettes and drinking their weak coffee were not like the people in la who crowd the sidewalks for weekend brunch. they weren’t like the hipsters in los feliz with their egg whites and their power fruit salads. these people seemed unaffected. they seemed happy. if i wasn’t on a schedule i might have stayed but i ordered my coffee to go instead and i got back in the car. i made my way to the border of santa barbara by about ten fifteen or ten-thirty. i drove around a while and started to head back the other way – back to the place i was from. before i left i ordered another coffee, this time from starbucks. i had gone through a couple of cds on my trip – a jazz cd and then a willie nelson cd. on the way back to los angeles though i listened to santa barbara and ventura’s npr station, which was pleasant because they didn’t seem to have as many people on the radio with faux british accents. a woman was interviewing a travel writer who was based in santa barbara and divided his time between his home there and japan. he was telling listeners that they should look at the place they live as though they were foreigners, so they could see it differently, as though they had new eyes. i think there’s a lot of weight to a philosophy like that.  i made it back to la around two o’clock. i took unfamiliar roads home and i got a bit lost, but i didn’t mind. when i got to marina del rey i went swimming in the ocean before getting ready for the party. i saved my work for sunday and got quite a lot done. i was thinking a lot more clearly, even though i still had seawater in my ears. next weekend i think i’ll go swimming again before i begin working on my application for the stegner.

In [ ]:
blog_df['text']= blog_df['text'].apply(lambda x: re.sub(r"\b[^\s]+@[^\s]+[.][^\s]+\b", " ",x)) ## removing email id's

In [ ]:
blog_df['text'] = blog_df['text'].replace('urlLink',' ',regex=True) ## removing the word urlLink

In [ ]:
blog_df['text'] = blog_df['text'].apply(lambda x: re.sub(r'''(?i)\b((?:https?://|www\d{0,3}[.]|[a-z0-9.\-]+[.][a-z]{2,4}/)(?:[^\s()<>]+|\(([^\s()<>]+|(\([^\s()<>]+\)))*\))+(?:\(([^\s()<>]+|(\([^\s()<>]+\)))*\)|[^\s`!()\[\]{};:'".,<>?«»“”‘’]))''', " ", x))

**Removing short forms**

In [ ]:
def short_form(text):
  text = re.sub(r"what's", "what is ", text)
  text = re.sub(r"\'s", " ", text)
  text = re.sub(r"\'ve", " have ", text)
  text = re.sub(r"can't", "can not ", text)
  text = re.sub(r"n't", " not ", text)
  text = re.sub(r"i'm", "i am ", text)
  text = re.sub(r"\'re", " are ", text)
  text = re.sub(r"\'d", " would ", text)
  text = re.sub(r"\'ll", " will ", text)
  text = re.sub(r"youll", " you will ", text)
  text = re.sub(r"theyll", " they will ", text)
  text = re.sub(r"youve", " you have ", text)
  text = re.sub(r"theyve", " they have ", text)
  text = re.sub(r"cant", "can not ", text)
  text = re.sub(r"youre", "you are", text)
  text = re.sub(r"yup", "yes", text)
  text = re.sub(r"ohh", " ", text)
  text = re.sub(r"ahh", " ", text)
  text = re.sub(r"ahhh", " ", text)
  return text

In [ ]:
blog_df['text'] = blog_df['text'].apply(lambda x: short_form(x))

In [ ]:
blog_df.head()

,gender,topic,sign,text,age_group,target,len
0,male,Government,Pisces,the incompetence of transport plann...,30s,"[male, 30s, Government, Pisces]",354
1,male,Student,Libra,2/10/04 one more week till hun...,10s,"[male, 10s, Student, Libra]",766
2,female,indUnk,Aries,i woke up very early on saturday mornin...,20s,"[female, 20s, indUnk, Aries]",692
3,male,Technology,Leo,"ok, lots more pictures! urllink m...",20s,"[male, 20s, Technology, Leo]",23
4,male,indUnk,Aries,"happy birthday, mom! today is ...",30s,"[male, 30s, indUnk, Aries]",92

**Removing Special Characters**

In [ ]:
blog_df['text'] = blog_df['text'].replace('[^\w\s]',' ',regex= True)

In [ ]:
blog_df.head()

,gender,topic,sign,text,age_group,target,len
0,male,Government,Pisces,the incompetence of transport plann...,30s,"[male, 30s, Government, Pisces]",354
1,male,Student,Libra,2 10 04 one more week till hun...,10s,"[male, 10s, Student, Libra]",766
2,female,indUnk,Aries,i woke up very early on saturday mornin...,20s,"[female, 20s, indUnk, Aries]",692
3,male,Technology,Leo,ok lots more pictures urllink m...,20s,"[male, 20s, Technology, Leo]",23
4,male,indUnk,Aries,happy birthday mom today is ...,30s,"[male, 30s, indUnk, Aries]",92

** Removing unnecessary spaces**

In [ ]:
blog_df['text']=  blog_df['text'].str.replace('\s+',' ',regex = True)

In [ ]:
print(blog_df['text'][6])

 another classic from the leader of the free world our enemies are innovative and resourceful and so are we said george bush in an address yesterday they never stop thinking about new ways to harm our country and our people and neither do we this guy should be president

In [ ]:
todo_df = pd.DataFrame()

In [ ]:
todo_df= blog_df[['text','target','len']]

In [ ]:
todo_df.head()

,text,target,len
0,the incompetence of transport planners i deal...,"[male, 30s, Government, Pisces]",354
1,2 10 04 one more week till huntsville yay and...,"[male, 10s, Student, Libra]",766
2,i woke up very early on saturday morning more...,"[female, 20s, indUnk, Aries]",692
3,ok lots more pictures urllink my apartment em...,"[male, 20s, Technology, Leo]",23
4,happy birthday mom today is mom birthday i kn...,"[male, 30s, indUnk, Aries]",92

In [ ]:
print(todo_df['text'][0])

 the incompetence of transport planners i deal a lot with public transport in my job and also use it a lot as everyone should this ensures minimal use of the old bmw normally m and i go in to torquay together in the car and i come home on the train because she stays on to do overtime or go to the dentist gym hairdresser while i come home at a reasonable time fridays we normally drive home together as she finishes at 4 15 on a friday a very wise and sensible time to finish if you ask me also one friday in 4 i give a lift to someone to a meeting in the afternoon and then take them home before picking m up which was what was scheduled for today also today m was having her hair done after work so i would have to repark the car after the meeting so she could pick it up and then i would catch the train home unfortunately having parked the car i realised that i didnt have time to walk to the station solution go to the pub and wait for the next train problem did not leave enough time to get to the station so having missed the train with a long wait to the next i decide to head back to town on the bus to catch m with the car these buses are all brand new disabled friendly lowfloor buses that stagecoach have just kindly introduced on a ten minute frequency yeah right 25 minutes later one rolls up followed shortly by another i know it is scientifically explained why buses hunt in twos or even threes but i always have this naive hope that it wont happen to me it would have been easier to take the car or even two cars as we werent coming home together and that is why so many people take their cars and sod the pollution and the congestion if i can not do it properly then who else will the other moral is dont go to the pub if you are waiting for a train andy

In [ ]:
todo_df.describe()

                len
count 99534.0000000
mean    202.4929974
std     376.4966430
min       1.0000000
25%      38.0000000
50%     114.0000000
75%     257.0000000
max   51835.0000000

In [ ]:
ina = todo_df[todo_df['len']==0].index

In [ ]:
ina

Int64Index([], dtype='int64')

In [ ]:
todo_df.head()

,text,target,len
0,the incompetence of transport planners i deal...,"[male, 30s, Government, Pisces]",354
1,2 10 04 one more week till huntsville yay and...,"[male, 10s, Student, Libra]",766
2,i woke up very early on saturday morning more...,"[female, 20s, indUnk, Aries]",692
3,ok lots more pictures urllink my apartment em...,"[male, 20s, Technology, Leo]",23
4,happy birthday mom today is mom birthday i kn...,"[male, 30s, indUnk, Aries]",92

In [ ]:
todo_df.isna().sum()

text      0
target    0
len       0
dtype: int64

In [ ]:
todo_df.shape

(99534, 3)

In [ ]:
##Analyzing and Preparing Data

In [ ]:
max_features = 20000
maxlen = 100
embedding_size = 50

In [ ]:
from tensorflow.keras.preprocessing.text import Tokenizer
tokenizer = Tokenizer(num_words= 15000)

In [ ]:
tokenizer.fit_on_texts(list(todo_df['text']))
X = tokenizer.texts_to_sequences(todo_df['text'])

In [ ]:
print("number of samples:", len(X))
print(X[0])

number of samples: 99534
[2, 6, 6792, 1, 569, 5, 178, 21, 735, 6792, 9, 12, 281, 4, 126, 283, 7, 5, 178, 31, 202, 129, 22, 6942, 283, 6, 2, 193, 10769, 1749, 328, 4, 1, 63, 9, 3, 332, 9, 2, 291, 4, 1, 146, 133, 17, 2, 1112, 82, 48, 4690, 17, 3, 26, 7324, 43, 63, 3, 2, 4373, 1583, 142, 1, 146, 133, 29, 5, 3900, 54, 6764, 23, 1749, 534, 133, 332, 31, 48, 10071, 29, 204, 553, 17, 5, 414, 5, 108, 2131, 4, 7222, 54, 3, 832, 45, 13, 341, 18, 126, 42, 414, 9, 204, 1, 222, 5, 3098, 3, 176, 3, 5, 801, 9, 2, 723, 4, 57, 137, 79, 133, 140, 2332, 328, 37, 89, 14, 40, 14, 3610, 15, 93, 126, 93, 328, 14, 234, 51, 430, 232, 98, 111, 20, 1, 44, 16, 3, 2, 291, 98, 2, 801, 20, 48, 88, 598, 7, 37, 4, 57, 1, 44, 846, 2, 1112, 133, 1227, 234, 4719, 2, 291, 1, 2929, 8, 1, 631, 16, 54, 3, 479, 3, 2, 1170, 2876, 63, 3, 2, 3513, 4, 335, 15, 2, 163, 1112, 458, 70, 10, 338, 229, 54, 3, 50, 3, 2, 1170, 20, 234, 870, 2, 1112, 21, 5, 147, 335, 3, 2, 163, 1, 1126, 3, 269, 80, 3, 589, 17, 2, 775, 3, 846, 328, 21, 2, 291, 148, 7258, 27, 30, 2060, 110, 8977, 1823, 7258, 8, 16, 34, 7464, 2978, 17, 5, 1008, 873, 8321, 214, 114, 970, 365, 249, 42, 3116, 37, 1517, 3111, 60, 160, 1, 55, 7, 11, 2491, 127, 7258, 3698, 9, 43, 96, 19, 1, 152, 16, 22, 5879, 223, 8, 7, 1246, 494, 3, 18, 7, 44, 16, 76, 1381, 3, 137, 2, 291, 43, 96, 139, 1457, 31, 23, 7182, 353, 133, 332, 4, 8, 11, 127, 20, 167, 71, 137, 92, 1457, 4, 2, 10854, 4, 2, 45, 1, 38, 10, 26, 7, 2563, 57, 67, 257, 32, 2, 95, 2368, 11, 273, 63, 3, 2, 3513, 45, 13, 27, 543, 15, 5, 1112, 2036]

In [ ]:
##Padding the sequence

In [ ]:
from tensorflow.keras.preprocessing.sequence import pad_sequences

In [ ]:
X = pad_sequences(X , maxlen=maxlen)
X.shape

(99534, 100)

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MultiLabelBinarizer
import pickle

In [ ]:
MB = MultiLabelBinarizer()

In [ ]:
y = MB.fit_transform(todo_df['target'])

In [ ]:
y

array([[0, 0, 1, ..., 0, 0, 1],
       [1, 0, 0, ..., 0, 0, 1],
       [0, 1, 0, ..., 1, 1, 0],
       ...,
       [0, 1, 0, ..., 1, 1, 0],
       [1, 0, 0, ..., 0, 0, 1],
       [1, 0, 0, ..., 1, 0, 0]])

In [ ]:
print(X.shape)
print(y.shape)

(99534, 100)
(99534, 57)

In [ ]:
len(tokenizer.word_index)## total number of words

230877

In [ ]:
## computing glove embedding

In [ ]:
text_file= "/content/drive/MyDrive/glove.6B.50d.txt"

In [ ]:
embedding = {}
for o in open(text_file):
  word = o.split(" ")[0]
  emb = o.split(" ")[1:]
  emb = np.asarray(emb, dtype= 'float32')
  embedding[word]=emb

In [ ]:
## Creating weight matrices

In [ ]:
num_words = len(tokenizer.word_index) + 1
embedding_matrix = np.zeros((num_words,50))
for word , i in tokenizer.word_index.items():
  embedding_vector = embedding.get(word)
  if embedding_vector is not None:
    embedding_matrix[i] = embedding_vector

In [ ]:
embedding_matrix.shape

(230878, 50)

In [ ]:
## Splitting Training and Test

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size= 0.2)

In [ ]:
print(x_train.shape,y_train.shape)
print(x_test.shape,y_test.shape)

(79627, 100) (79627, 57)
(19907, 100) (19907, 57)

In [ ]:
#Model Building

In [ ]:
import tensorflow as tf

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Embedding, Flatten, Dropout,BatchNormalization
from sklearn.metrics import classification_report, accuracy_score

In [ ]:
model = Sequential()
model.add(Embedding(num_words,embedding_size,weights=[embedding_matrix],input_length = maxlen, trainable=False))
model.add(Flatten())
model.add(BatchNormalization())
model.add(Dense(180,activation = 'relu'))
model.add(Dense(90,activation = 'relu'))
model.add(Dense(64,activation = 'relu'))
model.add(BatchNormalization())
model.add(Dropout(0.2))
model.add(Dense(47,activation = 'relu'))
model.add(BatchNormalization())
model.add(Dropout(0.2))
model.add(Dense(57,activation= 'sigmoid'))

In [ ]:
model.compile(loss = 'binary_crossentropy' , optimizer= 'adam' , metrics = 'accuracy')

In [ ]:
model.summary()

Model: "sequential_36"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding (Embedding)        (None, 100, 50)           11543900
_________________________________________________________________
flatten_36 (Flatten)         (None, 5000)              0
_________________________________________________________________
batch_normalization_24 (Batc (None, 5000)              20000
_________________________________________________________________
dense_111 (Dense)            (None, 180)               900180
_________________________________________________________________
dense_112 (Dense)            (None, 90)                16290
_________________________________________________________________
dense_113 (Dense)            (None, 64)                5824
_________________________________________________________________
batch_normalization_25 (Batc (None, 64)                256
_________________________________________________________________
dropout_39 (Dropout)         (None, 64)                0
_________________________________________________________________
dense_114 (Dense)            (None, 47)                3055
_________________________________________________________________
batch_normalization_26 (Batc (None, 47)                188
_________________________________________________________________
dropout_40 (Dropout)         (None, 47)                0
_________________________________________________________________
dense_115 (Dense)            (None, 57)                2736
=================================================================
Total params: 12,492,429
Trainable params: 938,307
Non-trainable params: 11,554,122
_________________________________________________________________

In [ ]:
history=model.fit(x_train,y_train,epochs=20,batch_size = 64, validation_data = (x_test,y_test),verbose=1)

Epoch 1/20
1245/1245 [==============================] - 24s 18ms/step - loss: 0.3844 - accuracy: 0.0935 - val_loss: 0.1693 - val_accuracy: 0.1535
Epoch 2/20
1245/1245 [==============================] - 23s 18ms/step - loss: 0.1706 - accuracy: 0.1810 - val_loss: 0.1687 - val_accuracy: 0.1652
Epoch 3/20
1245/1245 [==============================] - 23s 18ms/step - loss: 0.1684 - accuracy: 0.1875 - val_loss: 0.1687 - val_accuracy: 0.1599
Epoch 4/20
1245/1245 [==============================] - 23s 18ms/step - loss: 0.1656 - accuracy: 0.2122 - val_loss: 0.1690 - val_accuracy: 0.1676
Epoch 5/20
1245/1245 [==============================] - 23s 18ms/step - loss: 0.1615 - accuracy: 0.2258 - val_loss: 0.1711 - val_accuracy: 0.1511
Epoch 6/20
1245/1245 [==============================] - 23s 18ms/step - loss: 0.1561 - accuracy: 0.2293 - val_loss: 0.1757 - val_accuracy: 0.1759
Epoch 7/20
1245/1245 [==============================] - 22s 18ms/step - loss: 0.1505 - accuracy: 0.2282 - val_loss: 0.1841 - val_accuracy: 0.1927
Epoch 8/20
1245/1245 [==============================] - 23s 18ms/step - loss: 0.1464 - accuracy: 0.2284 - val_loss: 0.1879 - val_accuracy: 0.1428
Epoch 9/20
1245/1245 [==============================] - 23s 19ms/step - loss: 0.1433 - accuracy: 0.2300 - val_loss: 0.1951 - val_accuracy: 0.1655
Epoch 10/20
1245/1245 [==============================] - 23s 18ms/step - loss: 0.1405 - accuracy: 0.2401 - val_loss: 0.1981 - val_accuracy: 0.1655
Epoch 11/20
1245/1245 [==============================] - 23s 18ms/step - loss: 0.1384 - accuracy: 0.2511 - val_loss: 0.2011 - val_accuracy: 0.1766
Epoch 12/20
1245/1245 [==============================] - 23s 18ms/step - loss: 0.1360 - accuracy: 0.2743 - val_loss: 0.2061 - val_accuracy: 0.1579
Epoch 13/20
1245/1245 [==============================] - 23s 18ms/step - loss: 0.1343 - accuracy: 0.2734 - val_loss: 0.2104 - val_accuracy: 0.1786
Epoch 14/20
1245/1245 [==============================] - 23s 18ms/step - loss: 0.1325 - accuracy: 0.2953 - val_loss: 0.2133 - val_accuracy: 0.2041
Epoch 15/20
1245/1245 [==============================] - 23s 18ms/step - loss: 0.1312 - accuracy: 0.3095 - val_loss: 0.2164 - val_accuracy: 0.1875
Epoch 16/20
1245/1245 [==============================] - 23s 18ms/step - loss: 0.1296 - accuracy: 0.3298 - val_loss: 0.2181 - val_accuracy: 0.1799
Epoch 17/20
1245/1245 [==============================] - 22s 18ms/step - loss: 0.1306 - accuracy: 0.3113 - val_loss: 0.2221 - val_accuracy: 0.1946
Epoch 18/20
1245/1245 [==============================] - 23s 18ms/step - loss: 0.1273 - accuracy: 0.3424 - val_loss: 0.2235 - val_accuracy: 0.2076
Epoch 19/20
1245/1245 [==============================] - 23s 19ms/step - loss: 0.1258 - accuracy: 0.3445 - val_loss: 0.2260 - val_accuracy: 0.2067
Epoch 20/20
1245/1245 [==============================] - 23s 18ms/step - loss: 0.1256 - accuracy: 0.3446 - val_loss: 0.2284 - val_accuracy: 0.2072

In [ ]:
NN = model.predict(x_test)

In [ ]:
print(NN[0:5].round())

[[0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 1. 0. 0.]
 [0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 1. 0. 0.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 1. 1.]]

In [ ]:
print(y_test[0:5].round())

[[0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 1 0 0]
 [0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1]
 [0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0]
 [0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1]
 [0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0]]

In [ ]:
print(classification_report(y_test,NN.round()))

              precision    recall  f1-score   support

           0       0.51      0.51      0.51      6886
           1       0.53      0.54      0.53      9443
           2       0.32      0.17      0.22      3578
           3       0.00      0.00      0.00       121
           4       0.00      0.00      0.00       136
           5       0.00      0.00      0.00        34
           6       0.00      0.00      0.00      1456
           7       0.00      0.00      0.00        49
           8       0.00      0.00      0.00      1860
           9       0.00      0.00      0.00       966
          10       0.00      0.00      0.00        36
          11       0.00      0.00      0.00       123
          12       0.00      0.00      0.00        66
          13       0.00      0.00      0.00       143
          14       1.00      0.01      0.02      1963
          15       0.00      0.00      0.00      1410
          16       0.00      0.00      0.00       117
          17       0.00      0.00      0.00       577
          18       0.00      0.00      0.00        27
          19       0.00      0.00      0.00       190
          20       0.00      0.00      0.00       925
          21       0.00      0.00      0.00       367
          22       0.00      0.00      0.00        12
          23       0.00      0.00      0.00       148
          24       0.00      0.00      0.00      1555
          25       0.00      0.00      0.00       196
          26       0.00      0.00      0.00        98
          27       0.00      0.00      0.00       460
          28       0.00      0.00      0.00        42
          29       0.00      0.00      0.00       259
          30       0.00      0.00      0.00        55
          31       0.00      0.00      0.00      1569
          32       0.00      0.00      0.00      1826
          33       0.00      0.00      0.00        62
          34       0.00      0.00      0.00        12
          35       0.00      0.00      0.00       124
          36       0.00      0.00      0.00        83
          37       0.00      0.00      0.00        93
          38       0.00      0.00      0.00       427
          39       1.00      0.00      0.00      1659
          40       0.00      0.00      0.00       228
          41       0.00      0.00      0.00        94
          42       0.00      0.00      0.00       128
          43       0.00      0.00      0.00      1457
          44       0.00      0.00      0.00       199
          45       0.00      0.00      0.00      1635
          46       0.00      0.00      0.00        71
          47       0.32      0.15      0.20      4413
          48       0.00      0.00      0.00      1788
          49       0.32      0.00      0.01      1234
          50       0.00      0.00      0.00       145
          51       0.00      0.00      0.00        64
          52       1.00      0.03      0.06        62
          53       0.00      0.00      0.00      1729
          54       0.55      0.64      0.59      9775
          55       0.37      0.23      0.28      7321
          56       0.59      0.50      0.54     10132

   micro avg       0.51      0.29      0.37     79628
   macro avg       0.11      0.05      0.05     79628
weighted avg       0.37      0.29      0.30     79628
 samples avg       0.51      0.29      0.36     79628

In [ ]:
Inference: 

*) Totally 57 classes out of which most are highly imbalanced classes.
*) Model is overfitting when the increasing the number of epochs. Training accruacy is 34% and test accuracy is 21%.
*) Using transfer learning with BERT model, LSTM layers may help us to increase the accuracy.

#ChatBot

In [20]:
import nltk
import string, random
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [123]:
import json

In [124]:
with open('/content/drive/MyDrive/GL Bot.json') as file:
  corpus = json.load(file)

In [125]:
print(corpus)

{'intents': [{'tag': 'Intro', 'patterns': ['hi', 'how are you', 'is anyone there', 'hello', 'whats up', 'hey', 'yo', 'listen', 'please help me', 'i am learner from', 'i belong to', 'aiml batch', 'aifl batch', 'i am from', 'my pm is', 'blended', 'online', 'i am from', 'hey ya', 'talking to you for first time', 'hey there', 'i need help'], 'responses': ['Hello! how can i help you ?'], 'context_set': ''}, {'tag': 'Exit', 'patterns': ['thank you', 'thanks', 'cya', 'see you', 'later', 'see you later', 'goodbye', 'i am leaving', 'have a Good day', 'you helped me', 'thanks a lot', 'thanks a ton', 'you are the best', 'great help', 'too good', 'you are a good learning buddy'], 'responses': ['I hope I was able to assist you, Good Bye'], 'context_set': ''}, {'tag': 'Olympus', 'patterns': ['olympus', ' i have login issue with olympus', 'explain me how olympus works', 'I am not able to understand olympus', 'olympus window not working', 'no access to olympus', 'unable to see link in olympus', 'no link visible on olympus', 'whom to contact for olympus', 'lot of problem with olympus', 'olypus is not a good tool', 'lot of problems with olympus', 'how to use olympus', 'teach me olympus'], 'responses': ['Link: Olympus wiki'], 'context_set': ''}, {'tag': 'SL', 'patterns': ['i am not able to understand svm', 'explain me how machine learning works', 'i am not able to understand naive bayes', 'i am not able to understand logistic regression', 'i am not able to understand ensemble techb=niques', 'i am not able to understand knn', 'i am not able to understand knn imputer', 'i am not able to understand cross validation', 'i am not able to understand boosting', 'i am not able to understand random forest', 'i am not able to understand ada boosting', 'i am not able to understand gradient boosting', 'machine learning', 'ML', 'SL', 'what is supervised learning', 'supervised learning', 'knn', 'logistic regression', 'regression', 'classification', 'naive bayes', 'nb', 'ensemble techniques', 'what is bagging', 'bagging', 'boosting', 'ada boosting', 'ada', 'gradient boosting', 'hyper parameters'], 'responses': ['Link: Machine Learning wiki '], 'context_set': ''}, {'tag': 'NN', 'patterns': ['what is deep learning', 'unable to understand deep learning', 'explain me how deep learning works', 'i am not able to understand deep learning', 'not able to understand neural nets', 'very diffult to understand neural nets', 'unable to understand neural nets', 'ann', 'artificial intelligence', 'artificial neural networks', 'weights', 'how does activation fuction works', 'activation function', 'hidden layers', 'softmax', 'sigmoid', 'relu', 'otimizer', 'forward propagation', 'backward propagation', 'epochs', 'epoch', 'what is an epoch', 'adam', 'expansion of sgd', 'sgd'], 'responses': ['Link: Neural Nets wiki'], 'context_set': ''}, {'tag': 'Bot', 'patterns': ['what is your name', 'who are you', 'name please', 'when are your hours of opertions', 'what are your working hours', 'hours of operation', 'working hours', 'hours'], 'responses': ['I am your virtual learning assistant'], 'context_set': ''}, {'tag': 'Profane', 'patterns': ['what the hell', 'bloody stupid bot', 'do you think you are very smart', 'screw you', 'i hate you', 'you are stupid', 'jerk', 'you are a joke', 'useless piece of shit'], 'responses': ['Please use respectful words'], 'context_set': ''}, {'tag': 'Ticket', 'patterns': ['my problem is not solved', 'you did not help me', 'not a good solution', 'bad solution', 'not good solution', 'no help', 'wasted my time', 'useless bot', 'create a ticket'], 'responses': ['Tarnsferring the request to your PM'], 'context_set': ''}]}

Data Preparation

In [126]:
token = [] ## total words in the corpus
labels = [] ## target
tokenised_word = []
total_tags = []

for intent in corpus['intents']:
  for pattern in intent['patterns']:
    temp = nltk.word_tokenize(pattern)
    token.extend(temp)
    tokenised_word.append(temp)
    total_tags.append(intent['tag'])

  if intent['tag'] not in labels:
    labels.append(intent['tag'])

In [127]:
len(token)

441

In [128]:
len(tokenised_word)

135

In [129]:
print(labels)

['Intro', 'Exit', 'Olympus', 'SL', 'NN', 'Bot', 'Profane', 'Ticket']

In [130]:
print(total_tags)

['Intro', 'Intro', 'Intro', 'Intro', 'Intro', 'Intro', 'Intro', 'Intro', 'Intro', 'Intro', 'Intro', 'Intro', 'Intro', 'Intro', 'Intro', 'Intro', 'Intro', 'Intro', 'Intro', 'Intro', 'Intro', 'Intro', 'Exit', 'Exit', 'Exit', 'Exit', 'Exit', 'Exit', 'Exit', 'Exit', 'Exit', 'Exit', 'Exit', 'Exit', 'Exit', 'Exit', 'Exit', 'Exit', 'Olympus', 'Olympus', 'Olympus', 'Olympus', 'Olympus', 'Olympus', 'Olympus', 'Olympus', 'Olympus', 'Olympus', 'Olympus', 'Olympus', 'Olympus', 'Olympus', 'SL', 'SL', 'SL', 'SL', 'SL', 'SL', 'SL', 'SL', 'SL', 'SL', 'SL', 'SL', 'SL', 'SL', 'SL', 'SL', 'SL', 'SL', 'SL', 'SL', 'SL', 'SL', 'SL', 'SL', 'SL', 'SL', 'SL', 'SL', 'SL', 'SL', 'SL', 'NN', 'NN', 'NN', 'NN', 'NN', 'NN', 'NN', 'NN', 'NN', 'NN', 'NN', 'NN', 'NN', 'NN', 'NN', 'NN', 'NN', 'NN', 'NN', 'NN', 'NN', 'NN', 'NN', 'NN', 'NN', 'NN', 'Bot', 'Bot', 'Bot', 'Bot', 'Bot', 'Bot', 'Bot', 'Bot', 'Profane', 'Profane', 'Profane', 'Profane', 'Profane', 'Profane', 'Profane', 'Profane', 'Profane', 'Ticket', 'Ticket', 'Ticket', 'Ticket', 'Ticket', 'Ticket', 'Ticket', 'Ticket', 'Ticket']

** Applying the lemmetiser**

In [131]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [132]:
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()

In [133]:
Train = []
Target = []

out_empty = [0 for _ in range(len(labels))]

for i,doc in enumerate(tokenised_word):
  bag = []

  w_stem = [lemmatizer.lemmatize(w.lower()) for w in doc] 

#Creating bag of words
  for w in token:
     if w in w_stem:
       bag.append(1)
     else:
       bag.append(0)

  output_row = out_empty[:]
  output_row[labels.index(total_tags[i])] = 1

  Train.append(bag) #List
  Target.append(output_row) #List

## Building Text Classification NN model

In [134]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Flatten, Dropout,BatchNormalization
from tensorflow.keras.callbacks import ModelCheckpoint

In [139]:
model = Sequential()
model.add(Flatten())
model.add(Dense(130,activation = 'relu'))
model.add(BatchNormalization())
model.add(Dense(65,activation = 'relu'))
model.add(BatchNormalization())
model.add(Dropout(0.2))
model.add(Dense(8,activation = 'softmax'))

In [140]:
model.compile(optimizer='adam', loss='categorical_crossentropy',
              metrics=['accuracy'])

In [141]:
checkpoint= ModelCheckpoint('/content/chatbot.h5',save_best_only=True, monitor='accuracy', 
                                                    mode='max', verbose=1)

In [142]:
model.fit(np.array(Train), np.array(Target), epochs=20, batch_size=15,callbacks=[checkpoint],verbose=1)

Epoch 1/20
9/9 [==============================] - 1s 4ms/step - loss: 2.7009 - accuracy: 0.1535

Epoch 00001: accuracy improved from -inf to 0.17778, saving model to /content/chatbot.h5
Epoch 2/20
9/9 [==============================] - 0s 3ms/step - loss: 1.7404 - accuracy: 0.3957

Epoch 00002: accuracy improved from 0.17778 to 0.42222, saving model to /content/chatbot.h5
Epoch 3/20
9/9 [==============================] - 0s 4ms/step - loss: 1.2780 - accuracy: 0.5894

Epoch 00003: accuracy improved from 0.42222 to 0.57778, saving model to /content/chatbot.h5
Epoch 4/20
9/9 [==============================] - 0s 3ms/step - loss: 0.9693 - accuracy: 0.6915

Epoch 00004: accuracy improved from 0.57778 to 0.68148, saving model to /content/chatbot.h5
Epoch 5/20
9/9 [==============================] - 0s 3ms/step - loss: 0.7569 - accuracy: 0.7813

Epoch 00005: accuracy improved from 0.68148 to 0.77037, saving model to /content/chatbot.h5
Epoch 6/20
9/9 [==============================] - 0s 3ms/step - loss: 0.6529 - accuracy: 0.8714

Epoch 00006: accuracy improved from 0.77037 to 0.87407, saving model to /content/chatbot.h5
Epoch 7/20
9/9 [==============================] - 0s 3ms/step - loss: 0.5764 - accuracy: 0.8370

Epoch 00007: accuracy did not improve from 0.87407
Epoch 8/20
9/9 [==============================] - 0s 2ms/step - loss: 0.5812 - accuracy: 0.8681

Epoch 00008: accuracy did not improve from 0.87407
Epoch 9/20
9/9 [==============================] - 0s 2ms/step - loss: 0.5978 - accuracy: 0.8263

Epoch 00009: accuracy did not improve from 0.87407
Epoch 10/20
9/9 [==============================] - 0s 3ms/step - loss: 0.3877 - accuracy: 0.9256

Epoch 00010: accuracy improved from 0.87407 to 0.90370, saving model to /content/chatbot.h5
Epoch 11/20
9/9 [==============================] - 0s 3ms/step - loss: 0.3842 - accuracy: 0.9318

Epoch 00011: accuracy improved from 0.90370 to 0.92593, saving model to /content/chatbot.h5
Epoch 12/20
9/9 [==============================] - 0s 3ms/step - loss: 0.3014 - accuracy: 0.9314

Epoch 00012: accuracy improved from 0.92593 to 0.94074, saving model to /content/chatbot.h5
Epoch 13/20
9/9 [==============================] - 0s 3ms/step - loss: 0.2229 - accuracy: 0.9749

Epoch 00013: accuracy improved from 0.94074 to 0.96296, saving model to /content/chatbot.h5
Epoch 14/20
9/9 [==============================] - 0s 3ms/step - loss: 0.2325 - accuracy: 0.9680

Epoch 00014: accuracy did not improve from 0.96296
Epoch 15/20
9/9 [==============================] - 0s 3ms/step - loss: 0.2223 - accuracy: 0.9642

Epoch 00015: accuracy did not improve from 0.96296
Epoch 16/20
9/9 [==============================] - 0s 3ms/step - loss: 0.2391 - accuracy: 0.9465

Epoch 00016: accuracy did not improve from 0.96296
Epoch 17/20
9/9 [==============================] - 0s 3ms/step - loss: 0.1725 - accuracy: 0.9668

Epoch 00017: accuracy did not improve from 0.96296
Epoch 18/20
9/9 [==============================] - 0s 3ms/step - loss: 0.1551 - accuracy: 0.9678

Epoch 00018: accuracy improved from 0.96296 to 0.97037, saving model to /content/chatbot.h5
Epoch 19/20
9/9 [==============================] - 0s 3ms/step - loss: 0.1629 - accuracy: 0.9771

Epoch 00019: accuracy improved from 0.97037 to 0.98519, saving model to /content/chatbot.h5
Epoch 20/20
9/9 [==============================] - 0s 3ms/step - loss: 0.1291 - accuracy: 0.9807

Epoch 00020: accuracy did not improve from 0.98519

In [143]:
def tokenise_sentence(inp):
    w_tokenizer = nltk.tokenize.WhitespaceTokenizer()
    temp = w_tokenizer.tokenize(inp)
    return temp

In [144]:
def bag_of_words(inp,token):
  w_tem = tokenise_sentence(inp)
  word = []
  bags = []
  w_stem = [lemmatizer.lemmatize(wor.lower()) for wor in w_tem] 
#Creating bag of words
  for w in token:
    if w in w_stem:
      bags.append(1)
    else:
      bags.append(0)
  word.append(bags)
  return(np.array(word))

In [145]:
def chat():
  print("chat with jason(type: quit to stop")
  print("If answer is not right (type:*)")
  while True:
    inp = input("\n\nYou: ")
    if inp.lower()=="*":
      print("Jason: Please rephrase your question and try again")
    if inp.lower()=="quit":
      print("Thank you! Bye")
      break
   
    result = model.predict(bag_of_words(inp,token))
    result_index = np.argmax(result)
    tag = labels[result_index]

    for tg in corpus["intents"]:
      if tg['tag'] == tag:
        responses = tg['responses']
        
    print(random.choice(responses))

In [147]:
chat()

chat with jason(type: quit to stop
If answer is not right (type:*)


You: hello
Hello! how can i help you ?


You: have olympus login issue
Link: Olympus wiki


You: i hate you
Please use respectful words


You: not a good solution
Tarnsferring the request to your PM


You: what is your name
I am your virtual learning assistant


You: how logistic regression works
Link: Machine Learning wiki


You: explain ensemble techniques
Link: Machine Learning wiki


You: hyperparameter tunning
Link: Machine Learning wiki


You: how to set hidden layers
Hello! how can i help you ?


You: hidden layers
Link: Neural Nets wiki


You: how gradient boosting works
Link: Machine Learning wiki


You: how to operate olympus
Link: Olympus wiki


You: softmax layers
Link: Neural Nets wiki


You: you are stupid
Please use respectful words


You: complete jerk
Link: Machine Learning wiki


You: thank you
I hope I was able to assist you, Good Bye


You: quit
Thank you! Bye

In [148]:
!jupyter nbconvert --to html AIML_R8_Project1_Word_Embeddings_with_DNN_&_Chatbot.ipynb

/bin/bash: _Chatbot.ipynb: command not found
[NbConvertApp] WARNING | pattern u'AIML_R8_Project1_Word_Embeddings_with_DNN_' matched no files
This application is used to convert notebook files (*.ipynb) to various other
formats.

WARNING: THE COMMANDLINE INTERFACE MAY CHANGE IN FUTURE RELEASES.

Options
-------

Arguments that take values are actually convenience aliases to full
Configurables, whose aliases are listed on the help line. For more information
on full configurables, see '--help-all'.

--execute
    Execute the notebook prior to export.
--allow-errors
    Continue notebook execution even if one of the cells throws an error and include the error message in the cell output (the default behaviour is to abort conversion). This flag is only relevant if '--execute' was specified, too.
--no-input
    Exclude input cells and output prompts from converted document.
    This mode is ideal for generating code-free reports.
--stdout
    Write notebook output to stdout instead of files.
--stdin
    read a single notebook file from stdin. Write the resulting notebook with default basename 'notebook.*'
--inplace
    Run nbconvert in place, overwriting the existing notebook (only
    relevant when converting to notebook format)
-y
    Answer yes to any questions instead of prompting.
--clear-output
    Clear output of current file and save in place,
    overwriting the existing notebook.
--debug
    set log level to logging.DEBUG (maximize logging output)
--no-prompt
    Exclude input and output prompts from converted document.
--generate-config
    generate default config file
--nbformat=<Enum> (NotebookExporter.nbformat_version)
    Default: 4
    Choices: [1, 2, 3, 4]
    The nbformat version to write. Use this to downgrade notebooks.
--output-dir=<Unicode> (FilesWriter.build_directory)
    Default: ''
    Directory to write output(s) to. Defaults to output to the directory of each
    notebook. To recover previous default behaviour (outputting to the current
    working directory) use . as the flag value.
--writer=<DottedObjectName> (NbConvertApp.writer_class)
    Default: 'FilesWriter'
    Writer class used to write the  results of the conversion
--log-level=<Enum> (Application.log_level)
    Default: 30
    Choices: (0, 10, 20, 30, 40, 50, 'DEBUG', 'INFO', 'WARN', 'ERROR', 'CRITICAL')
    Set the log level by value or name.
--reveal-prefix=<Unicode> (SlidesExporter.reveal_url_prefix)
    Default: u''
    The URL prefix for reveal.js (version 3.x). This defaults to the reveal CDN,
    but can be any url pointing to a copy  of reveal.js.
    For speaker notes to work, this must be a relative path to a local  copy of
    reveal.js: e.g., "reveal.js".
    If a relative path is given, it must be a subdirectory of the current
    directory (from which the server is run).
    See the usage documentation
    (https://nbconvert.readthedocs.io/en/latest/usage.html#reveal-js-html-
    slideshow) for more details.
--to=<Unicode> (NbConvertApp.export_format)
    Default: 'html'
    The export format to be used, either one of the built-in formats
    ['asciidoc', 'custom', 'html', 'latex', 'markdown', 'notebook', 'pdf',
    'python', 'rst', 'script', 'slides'] or a dotted object name that represents
    the import path for an `Exporter` class
--template=<Unicode> (TemplateExporter.template_file)
    Default: u''
    Name of the template file to use
--output=<Unicode> (NbConvertApp.output_base)
    Default: ''
    overwrite base name use for output files. can only be used when converting
    one notebook at a time.
--post=<DottedOrNone> (NbConvertApp.postprocessor_class)
    Default: u''
    PostProcessor class used to write the results of the conversion
--config=<Unicode> (JupyterApp.config_file)
    Default: u''
    Full path of a config file.

To see all available configurables, use `--help-all`

Examples
--------

    The simplest way to use nbconvert is

    > jupyter nbconvert mynotebook.ipynb

    which will convert mynotebook.ipynb to the default format (probably HTML).

    You can specify the export format with `--to`.
    Options include ['asciidoc', 'custom', 'html', 'latex', 'markdown', 'notebook', 'pdf', 'python', 'rst', 'script', 'slides'].

    > jupyter nbconvert --to latex mynotebook.ipynb

    Both HTML and LaTeX support multiple output templates. LaTeX includes
    'base', 'article' and 'report'.  HTML includes 'basic' and 'full'. You
    can specify the flavor of the format used.

    > jupyter nbconvert --to html --template basic mynotebook.ipynb

    You can also pipe the output to stdout, rather than a file

    > jupyter nbconvert mynotebook.ipynb --stdout

    PDF is generated via latex

    > jupyter nbconvert mynotebook.ipynb --to pdf

    You can get (and serve) a Reveal.js-powered slideshow

    > jupyter nbconvert myslides.ipynb --to slides --post serve

    Multiple notebooks can be given at the command line in a couple of
    different ways:

    > jupyter nbconvert notebook*.ipynb
    > jupyter nbconvert notebook1.ipynb notebook2.ipynb

    or you can specify the notebooks list in a config file, containing::

        c.NbConvertApp.notebooks = ["my_notebook.ipynb"]

    > jupyter nbconvert --config mycfg.py